body{
    background-color: rgb(31, 34, 34);
    margin-top: 0;
    margin-bottom: 0;
}

.container {
display: flex;
flex-direction: column;
margin: 0 10% 0 10%;
background-color: blue;
}

header {
display: flex;
flex-direction: row;
background-color: blueviolet;
}


img {
width: 40%;
height: auto;
padding-top: 3%;
padding-left: 25%;
padding-right: 6%;
padding-bottom: 3%;
background-color:  blueviolet;
}

.header_content {
    width: 60%;
    position: absolute;
    top: 5%;
    right: 10%;
}

nav {
    text-align: center;
}

.nav_list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    
}

footer{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



.header_name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    padding-top: 3%;
}

.header_proff{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    
}

.main-container {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    }

.main_side {
    display: flex;
    width: 40%;
}

.section_me{
padding: 6% 8% auto 3%;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
text-align: center;
background-color:  blueviolet;
}

.section{
padding-left: 8%;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}

.date {
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
}

